<!DOCTYPE html>
<html>
<head>
<style>
body {margin:25px;}

div.foto {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}
</style>
</head>
<body>

<h2>Header</h2>

{% for photo_source in images %}
<div class="foto">
  <img src="{{ photo_source }}" alt="" style="width:100%">
  <div class="container">
  <p>Text</p>
  </div>
</div>
{% endfor %}

</body>
</html>
